!!!
%html{lang: "en"}
  %head
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/

    %title Grey Gardens

    %link{ href: "https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,500,700|Work+Sans:400,500", rel: "stylesheet"}/
    %link{ crossorigin: "anonymous", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", rel: "stylesheet" }/
    %link{ href: "public/assets/css/greygardens.css", rel: "stylesheet", type: "text/css" }/

  %body
    %header
      %nav.navbar.navbar-default.navbar-fixed-top
        .container
          .row
            .col-sm-4
              .navbar-header
                %h1.navbar-brand
                  %a.nav-home{href: "#"} Grey Gardens
                %button.navbar-toggle{type: "button", data-toggle: "collapse", data-target: ".navbar-collapse"}
                  .icon-bar
                  .icon-bar
                  .icon-bar
            .col-sm-8
              .collapse.navbar-collapse
                %ul.nav.navbar-nav
                  %li
                    %a.nav-wine{href: "#"} Wine Bar
                  %li
                    %a.nav-food{href: "#"} Food
                  %li
                    %a.nav-crew{href: "#"} The Crew
                  %li
                    %a{href: "https://www.bookenda.com/restaurant-booker?businessName=grey-gardens&idMerchant=13123322&idClientApplication=4412&Language=en", target: "_blank"} Reservations
    .container
      %section.intro
        .row
          .col-md-4.col-sm-8.intro-message
            .fade-box
              %img.visible-xs-block.visible-sm-block.img-responsive.lazyload{ data-src: "public/assets/images/L99A8245.png" }
            %h3.teal.js-copy-note-eyebrow
            %h2.js-copy-note-header
            %p.js-copy-note-body
          .col-md-6.hidden-sm.hidden-xs
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A8245.png" }
          .col-md-2.col-sm-4.contact-info
            .seasonal-info.hidden
              %h4.js-copy-seasonal-subheader
              %p.js-copy-seasonal-body
            %h3.coral.js-copy-address-eyebrow
            %h2.js-copy-address-body
            %h3.phone-number.js-copy-address-phone
            .wine-hours.hours
              %h3.sand.js-copy-hours-eyebrow
              %ul
            .food-hours.hours
              %h3.sand.js-copy-hours-eyebrow2
              %ul
      %section.wine-bar
        .row
          .visible-sm-block.visible-xs-block.col-xs-12.mobile-lead-image.fade-box
            %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A8154.png" }
          .col-md-4.col-sm-8.col-sm-offset-2.col-md-offset-0
            %h3.lime.js-copy-wine-intro-eyebrow
            %h2.js-copy-wine-intro-header
            %p.js-copy-wine-intro-body
          .visible-md-8.hidden-sm.hidden-xs.col-md-8.lead-image.fade-box
            %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A8154.png" }

        .row
          .col-md-4.col-sm-4
            .wine-by-the-glass
              %h4.js-copy-wine-bytheglass-header
              %ul.menu-content.sparkling
                %h3.sand.js-copy-wine-bytheglass-eyebrow1
              %ul.menu-content.white
                %h3.sand.js-copy-wine-bytheglass-eyebrow2
              %ul.menu-content.rose
                %h3.sand.js-copy-wine-bytheglass-eyebrow3
              %ul.menu-content.orange
                %h3.sand.js-copy-wine-bytheglass-eyebrow4
              %ul.menu-content.red
                %h3.sand.js-copy-wine-bytheglass-eyebrow5
            .cider
              %h4.js-copy-wine-cider-header
              %ul.menu-content
            %h3.teal.js-copy-wine-eyebrow-white
            %h3.teal.js-copy-wine-eyebrow-rose
          .col-md-4.col-sm-4
            .red-wine-by-the-bottle
              %h4.js-copy-wine-redbottle-header
              %ul.menu-content
          .col-md-4.col-sm-4
            .white-wine-by-the-bottle
              %h4.js-copy-wine-whitebottle-header
              %ul.menu-content
      %section.food
        .row
          .col-sm-3.col-xs-6.col-xs-offset-3.col-sm-offset-0.food-image.fade-box
            %img.img-responsive.lazyload{ data-src: "public/assets/images/mushrooms.png" }
        .row
          .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
            %h3.coral.js-copy-food-eyebrow1
            %h2.js-copy-food-header1
            %p.js-copy-food-body1
        .row
          .col-md-4.col-md-offset-2.col-sm-6
            %ul.menu-content.menu-content-1
          .col-md-4.col-sm-6
            %ul.menu-content.menu-content-2
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/mushroom3.png" }
      %section.crew
        .row
          .col-md-4.col-sm-8.vcenter
            %h2.js-copy-crew-header
          .col-md-8.col-sm-8.vcenter
            %p.js-copy-crew-body
        .row
          .col-md-8.col-sm-12.class-photo-image.col-md-offset-2.fade-box
            %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A7615.png" }
          .col-md-6.col-sm-12.col-md-offset-3
            %h3.sage.js-copy-class-eyebrow
            %p.js-copy-class-body
        .row.visible-xs-block.visible-sm-block
          .col-sm-6
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A8176.png" }
            %h3.js-copy-bio1-subheader
            %p.js-copy-bio1-body
          .col-sm-6
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A7751.png" }
            %h3.js-copy-bio2-subheader
            %p.js-copy-bio2-body
        .row.visible-xs-block.visible-sm-block
          .col-sm-6
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A7872.png" }
            %h3.js-copy-bio3-subheader
            %p.js-copy-bio3-body
          .col-sm-6
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A8012.png" }
            %h3.js-copy-bio4-subheader
            %p.js-copy-bio4-body
        .row.visible-xs-block.visible-sm-block
          .col-sm-6.col-sm-offset-3
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A8100.png" }
            %h3.js-copy-bio5-subheader
            %p.js-copy-bio5-body
        .row.hidden-xs.hidden-sm
          .col-md-4
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A8176.png" }
            %h3.js-copy-bio1-subheader
            %p.js-copy-bio1-body
          .col-md-4
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A7751.png" }
            %h3.js-copy-bio2-subheader
            %p.js-copy-bio2-body
          .col-md-4
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A7872.png" }
            %h3.js-copy-bio3-subheader
            %p.js-copy-bio3-body
        .row.hidden-xs.hidden-sm
          .col-md-4.col-md-offset-2
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A8012.png" }
            %h3.js-copy-bio4-subheader
            %p.js-copy-bio4-body
          .col-md-4
            .fade-box
              %img.img-responsive.lazyload{ data-src: "public/assets/images/L99A8100.png" }
            %h3.js-copy-bio5-subheader
            %p.js-copy-bio5-body

      %section.quote
        .row
          .col-sm-1
          .col-sm-10
            %blockquote.js-copy-quote-body
          .col-sm-1
      %footer

  %script{ crossorigin: "anonymous", integrity: "sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", src: "https://code.jquery.com/jquery-3.1.1.min.js"}
  %script{ crossorigin: "anonymous", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" }
  %script{ src: "public/assets/js/lazysizes.min.js" }
  %script{ src: "public/assets/js/greygardens.js" }
