!!!
%html{lang: "en"}
  %head
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Grey Gardens
    %link{ href: "assets/css/greygardens.css", rel: "stylesheet", type: "text/css"}/
  %body
    %section.content
      %h1 Grey Gardens
      %p Coming Soon
