/* -----------------------
  Colors
-------------------------*/

$lime: #B4DA8E;
$sand: #E3C0A1;
$sage: #799F94;
$slate: rgba(0, 0, 0, .5);
$teal: #83CDB9;

.lime {
  color: $lime;
}

.sand {
  color: $sand;
}

.sage {
  color: $sage;
}

.slate {
  color: $slate;
}

.teal {
  color: $teal;
}
