@import 'https://fonts.googleapis.com/css?family=Quicksand';
@import 'colors';
@import 'typography';

div[class^="col-"] {
  padding-left: 25px;
  padding-right: 25px;
}

.fade-box .lazyload,
.fade-box .lazyloading {
  opacity: 0;
  transition: opacity 400ms;
}

.fade-box .lazyloaded {
  opacity: 1;
  transition: opacity 400ms;

}

.row {
  margin-left: -25px;
  margin-right: -25px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body {
  background: #fff;
}

header {
  h1 a {
    display: block;
    background: url(../images/logo.png) center 0 no-repeat;
    background-size: 50%;
    height: 50px;
    text-indent: -999999px;
  }
  nav.navbar-default {
    background: #fff;
    border: 0;
    font-family: $WorkSans;
    min-height: 75px;
    .navbar-header {
      float: none;
      .navbar-brand {
        float: none;
      }
    }
    .navbar-toggle {
      border: 0;
      position: absolute; right: 0; top: 15px;
      &:hover,
      &:active,
      &:focus {
        background: #fff;
      }
    }
    .navbar-collapse {
      border: 0;
      &.in,
      &.collapsing {
        .navbar-nav {
          margin: 0;
          padding: 0 0 20px 0;
          li {
            width: auto;
          }
        }
      }
    }
    ul.navbar-nav {
      list-style: none;
      padding: 30px 0;
      width: 100%;
      li {
        width: 25%;
        &:last-child {
          a {
            cursor: text;
            pointer-events: none;
            text-decoration: line-through;
          }
        }
        a {
          color: rgba(0, 0, 0, .5);
          display: inline-block;
          font-size: 11px;
          letter-spacing: 2px;
          padding: 10px 15px;
          text-transform: uppercase;
          &:hover,
          &:focus {
            background: #f8f8f8;
            color: rgba(0, 0, 0, .5);
            text-decoration: none;
          }
        }
      }
    }
  }
}

section {
  .row {
    padding: 65px 0;
  }
  .menu-content {
    color: rgba(0,0,0,.7);
    list-style: none;
    margin: 0;
    padding: 0;
    h3 {
      margin: 48px 0 30px 0;
    }
    li {
      font-size: 16px;
      margin: 0 0 42px 0;
      span {
        font-style: italic;

        &.description {
          display: inline-block;
          padding-right: 24px;
        }
      }
    }
  }

  &.intro {
    margin-top: 100px;
    .row {
      padding-bottom: 260px;
      &:first-child {
        padding-top: 0;
      }
    }
    .intro-message {
      padding-top: 25px;
      img.visible-sm-block {
        margin-bottom: 40px;
      }
    }
    .seasonal-info {
      text-align: left;
    }
    .contact-info {
      padding-top: 25px;
      h2 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 20px;
      }
      .phone-number {
        color: rgba(0, 0, 0, .7);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0 ;
      }
      .hours {
        margin: 70px 0;
        ul {
          list-style: none;
          margin: 30px 0 0 0;
          padding: 0;
          li {
            color: $slate;
            font-size: 14px;
            font-family: $WorkSans;
            margin: 0 0 7px 0;
            span {
              display: inline-block;
              width: 50%;
            }
          }
        }
      }
    }
  }
  &.wine-bar {
    .lead-image {
      margin-top: -115px;
    }
    .mobile-lead-image {
      margin-top: -200px;
      margin-bottom: 40px;
    }
  }
  &.food {
    .row {
      padding-top: 0;
      &:first-child {
        padding: 0 0 40px 0;
      }
    }
    .food-image {
      margin-top: -80px;
      margin-bottom: -100px;
    }
    .menu-content {
      li {
        margin-bottom: 20px;
        .description {
          font-style: normal;
        }
      }
    }

  }
  &.crew {
    background: #F9F7F7;
    padding-bottom: 65px;
    h3 {
      line-height: 19px;
    }
    img {
      margin-bottom: 40px;
    }
    p {
      font-size: 16px;
    }
    .row {
      padding-bottom: 0;
    }
    .class-photo-image {
      img {
        background: #fff;
        padding: 20px;
      }
    }
  }
}

footer {
  background: url(../images/bg2.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}

.container {
  padding: 0;
  width: 100%;
}

.row {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .row {
      width: 750px;
  }
  header h1 a {
    background-size: 100%;
  }
  .intro .intro-message {
    h2 {
      margin-top: 0;
      font-size: 42px;
    }
  }
  .wine-bar {
    background: #f4f4f4;
  }
}

@media (min-width: 992px) {
  .row {
      width: 970px;
  }
  header h1 a {
    background-size: 75%;
  }
  .intro .intro-message {
    h2 {
      margin-top: 0;
      font-size: 42px;
    }
  }
  .wine-bar {
    background: #f4f4f4;
  }
}

@media (min-width: 1200px) {
  .row {
      width: 1170px;
  }
  header h1 a {
    background-size: 50%;
  }
  .intro .intro-message {
    h2 {
      font-size: 58px;
    }
  }
  .wine-bar {
    background: url(../images/bg1.jpg) 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
